*{
  background-color: #26161F;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.contact-list{
  font-size: 2.3em;
  color:#F9E9D0;
  /* -webkit-text-stroke-color: #26161F;
  -webkit-text-stroke-width: 0.025em; */

}

.selected-contact{
  font-size: 2.3em;
  color: #F9E9D0;
  /* -webkit-text-stroke-color: #26161F;
  -webkit-text-stroke-width: 0.025em; */
}

.row{
  background-color: #F9E9D0;
}

.titleRow1{
  background-color: #A30052;
  font-weight: bolder;
  color: #F9E9D0;
}

.titleRow2{
  background-color: #A30052;
  font-weight: bolder;
  color: #F9E9D0;
}

.contactTable{
  color: #26161F;
  font-size: 1.5em;

}